
h2{
    font-size:42px;
    margin-bottom:30px
}

img{
    width: 100%;
    height: auto;
}

p{
    margin-bottom:0
}

.flag{
    position: absolute;
    top:-100px;
    z-index:200;
    width:30%
}

.flag1{
    right:0
}
.flag2{
    left:0
}