form{
    display: flex;
    flex-direction: column;
    
}

.input,.show-date,.show-select-ticket{
    padding:10px 20px;
    background-color:#FFFFFF;
    outline: none;
    border-width: 2px;
    border-top:2px solid #b5ab86;
    border-left:2px solid #b5ab86;
    border-radius: 15px;
    width:100%
}

.show-select-ticket{
    margin-right:20px;
    padding:12px;
    height:18px;
}

.show-date{
    height:20px;
}

select{
    padding:10px;
    background-color:#FFDE32;
    outline: none;
    border:none;
    margin-left: 15px;
}

.ticket-bag_form, .count-ticket-date_form, .full-name_form, .phone_form, .email_form{
    margin-bottom: 15px;
    width:100%;
    position:relative
}
.count-ticket-date_form,.ticket-bag_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-bag_form .ticket-bag-inp_form{
    margin-right:20px
}

.count-ticket-date_form .count-ticket{
    width: 20%;
}

.count-ticket-date_form .show-date{
    margin-left: 15px;
    padding:12px;
}

.count-ticket-date_form .date{
    width: 5%;
    margin-left: 10px;
}

.ant-picker-panel-container {
    background-color: aqua;
    font-family:'Montserrat', sans-serif;
}

.ant-picker-panel-container .ant-picker-panel{
    width:400px
}

.ant-picker-panel-container .ant-picker-date-panel{
    width:100%;
    padding:12px
}

.ant-picker-panel-container .ant-picker-header {
    color: #23221F;
    
}

.ant-picker-panel-container .ant-picker-body>.ant-picker-content{
    padding:15px;
    width:100%
}

.ant-picker-panel-container .ant-picker-content th{
    color: #FF8A00;
    font-size: 24px;
    font-weight: 700;
}

.ant-picker-panel-container .ant-picker-content tbody tr:last-child{
    display: none;
}

.ant-picker-panel-container .ant-picker-cell-inner{
    color :#23221F;
    font-size: 18px;
}

.ant-picker-panel-container .ant-picker-date-panel .ant-picker-body .ant-picker-content tbody .ant-picker-cell-selected .ant-picker-cell-inner{
    border:1px solid #FF8A00;
    background-color: #FF8A00;
    border-radius: 50%;
    color:#FFFFFF;
  
}

.ant-picker-panel-container .ant-picker-footer{
    display: none;
}

.wrap-datePicker{
    display: flex;
    width: 60px;
    margin-left: 15px;
    position:relative
}

.datePicker{
    width:100%;
    z-index: 12;
    padding:10px;
    opacity: 0;
    cursor: pointer;
}

.wrap-datePicker .calendar-icon{
    position: absolute;
    right:0;
    top:0;
    font-size:18px;
    padding: 10px 11px 5px 11px;
    background-color: #FFDE32;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    box-shadow:0 6px #F9B842;
}

.btn-ticket{
    background-color: #FF000A;
    color: #FFFFFF;
    box-shadow:0 6px #93000A;
    border-radius: 10px;
    padding:15px 0;
    border: none;
    width: 80%;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin: 0 auto
}

.error-message{
    font-size:12px;
    color:red;
    padding:0;
    position:absolute;
    right:100%
}
  