@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

.App{
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    display: flex;
    padding: 0 20px 0 100px;
}

.container{
    margin:0 30px
}

p,a,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding:0
}

.px-30{
    padding-left:30px;
    padding-right:30px;
}

.mb-15{
    margin-bottom:15px;
}
.mb-20{
    margin-bottom:20px;
}
.mb-30{
    margin-bottom:30px;
}